h1 {
font:bold 24px Arial, Helvetica, sans-serif;
color:#ffffff;
margin:15px 25px;
}

h2.blue {
font:bold 14px Arial, Helvetica, sans-serif;
color:#8ddefc;
margin:15px 25px;
}

h2.yellow {
font:bold 13px Arial, Helvetica, sans-serif;
color:#fee97c;
margin:15px 25px;
}

